<div class="container__average-card">
    <div class="average-cards">
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/159/265/142dd38e-df8f-4663-823c-2d4d1a1bd3e4.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/162/380/12801dac-7d4f-4cb4-b2a6-b2a89a8b1998.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/163/146/0735e9a5-ca36-4ddf-b5d6-bfc19c74ef04.png?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/163/592/1cef2fe7-11a5-4277-b732-940b5fe48242.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/163/060/11087775-91da-4dbd-9386-526420a646cc.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/163/267/ad2723f5-1ac6-4a6d-8ce3-4f5b751451b4.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/163/383/5b1bb6d9-88bc-474a-bd20-0986ddff0302.jpg?w=440&thumb=false"></app-average-card>
        <app-average-card
            linkImg="https://image.api.playstation.com/pr/bam-art/161/541/132983c7-9156-467d-a9b0-e95a64ab6114.jpg?w=440&thumb=false"></app-average-card>
    </div>
    <button>Mostrar mais</button>
</div>