.container__background-header-main {
    position: relative;
    margin-bottom: 6.25rem;
    box-shadow: 0rem 2.18rem 1.87rem #eee;
}

.background-header-main__background {
    width: 100%;
    height: 23.75rem;
    background-image: url("https://image.api.playstation.com/pr/bam-art/162/307/296cf7ae-9922-4d64-8956-622db5ad704f.png"), url("https://image.api.playstation.com/pr/bam-art/162/308/75fa7eb7-1fdc-4c8d-94fe-09702ab6218f.png"), url("https://image.api.playstation.com/pr/bam-art/119/842/993e7f72-df2d-4b3a-93e7-6724dafeae18.jpg");
    background-position: 30% center, 65% bottom, center 15px;
    background-size: 23%, 30%, 100%;
    background-repeat: no-repeat;
}

.background-header-main__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4.37rem;
    width: 100%;
    box-shadow: 0rem 0rem 1.87rem #bbb;
    color: #363636;
}

.background-header-main__footer>h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

h3 {
    color: #363636;
    padding: 0px 0px 30px 70px;
    font-weight: 100;
    font-size: 1.0rem;
}

.background-header-main__footer button {
    background-color: #0070cc;
    color: #fff;
    border: none;
    padding: 0.62rem 0.93rem;
    border-radius: 3.12rem;
    font-weight: bold;
    font-size: 0.93rem;
    cursor: pointer;

}

.background-header-main__footer button:hover {
    background-color: #005499;
}

@media screen and (max-width:900px) {
    .background-header-main__background{
        height: 15rem;
    }
}

@media screen and (max-width:600px) {
    .background-header-main__footer {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .background-header-main__background{
        height: 10rem;
    }
}