.average-card{
    width: 295px;
    height: 295px;
    padding: 5px;
    border-radius: 6px;
}
.img__average-card{
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.img__average-card:hover{
    filter: brightness(80%)
}

.average-card:active{
   border: solid #004C8A 2px;
}