.average-card{
    padding: 0.5rem;
    border-radius: 0.37rem;
}
.img__average-card{
    width: 100%;
    border-radius: 0.37rem;
    cursor: pointer;
}

.img__average-card:hover{
    filter: brightness(80%)
}

.average-card:active{
   border: solid #004C8A 0.12rem;
}