nav{
    position: fixed;
    display: flex;
    padding: 0.9rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow:0rem 0rem 1.87rem #bbb;
    z-index: 9999;
    overflow: scroll;
}

nav > img{
    position:relative;
    height: 1.87rem;
}

.menu{
    display: flex;
    gap: 0.18rem;
    list-style: none;
    width: fit-content;
    justify-content: center;
    align-items: center;
    list-style: none;
}
li > a{
    border-radius: 3.12rem;
    padding: 0.31rem 0.93rem 0.31rem 0.93rem;
    color: #000;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.06rem;
}
.menu-selected, li:hover a{
    background-color: #dee5eb;
}

@media screen and (max-width:900px) {
    .menu{
        gap: 0rem;
        z-index: 1;
    }
    li > a{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}